---
import "../styles/global.css";
import GTM from "../components/GTM.astro";
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Hue-men.com</title>
		<!-- Google Tag Manager -->
		<GTM id='GTM-WXFP2FT5' />
	</head>
	<body class='bg-[#232325]'>
		<div
			class='flex justify-center items-center min-h-[100dvh] bg-[radial-gradient(ellipse_at_top_right,_#3d3c3a,_#232325)]'
		>
			<div
				class='flex flex-col w-auto text-white justify-center items-center'
			>
				<h1 class='w-full text-sm text-left'>hue-men.com</h1>
				<h2
					class='text-neutral-500 text-4xl/8 sm:text-5xl/12 lg:text-9xl/28 font-bold text-left mb-4 uppercase'
				>
					The<br />power of<br /><span class='text-white'
						>replacement</span
					>
				</h2>
				<p class='w-full text-left text-neutral-500'>
					Replace overthinking with action.<br />
					Replace sugary drinks with water.<br />
					Replace blame with accountability.<br />
					Replace toxic friends with mentors.<br />
					Replace binge watching with sleep.<br />
					Replace complaining with gratitude.<br />
				</p>
			</div>
		</div>
	</body>
</html>
